body {
  width: 100%;
  font-family: $standard-font;
  padding: 0;
  margin: 0;
#container {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  img {
    object-fit: scale-down;
  }
}
}
