.gamepage-contents {
  margin-top: 3rem;
.pic-and-info {
img {
  max-width: 100%;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  margin-left: 20%;
//after media

}
&::after{
  clear: both;
  content: '';
  display: block;
}
.game-info {

  &:after{
    clear: both;
    content: '';
    display: block;
  }
  h3 {
    text-align: center;
    width: 50%;
    font-size: 40px;
    margin: 0 auto;
    font-family: $subheader-font;
  }

  h6 {
    text-align: center;
    font-family: $subheader-font;

  }
}
}
.review-form {
  textarea {
    width: 100%;
    font-size: 17px;
    height: 7rem;
    font-family: $standard-font;
    border: 1px solid gray;
  }
  input {
      width: 20%;
      display: block;
      margin-bottom: 0.2rem;
      border: 1px solid $secondary-color;
      background: whitesmoke;

  }
}
.user-reviews {
  list-style: none;
  padding-left: 0;
  .review-items {
    border-top: 1px solid #D8D8D9;
    border-bottom: 1px solid #D8D8D9;
    h5 {
      font-size: 20px;
    }
    .edit-delete {
      background: #F24C27;
      color: white;
      border: 1px solid black;
      border-radius: 10px;
    }
    .like-dislike {
      button {
        border: 1px solid #037E8C;
        background: whitesmoke;
        color: #024959;
        border-radius: 10px;
      }

    }
  }
  .edit-review{
    width: 100%;


  }
}
.avg-rating-container {
    .edit-review {
      textarea {
        width: 100%;
        font-size: 17px;
        height: 73px;
        font-family: $standard-font;
        border: 1px solid gray;
      }
      div {
        input {
          border: 1px solid #024959;
          background: whitesmoke;
        }
      }
}

}
}
@media (min-width: 500px) {
  .gamepage-contents {
  .pic-and-info{
    img {
      max-width: 100%;
      width: 47%;
      margin-right: 3%;
      height: 500px;
      margin-left: 0;
    }
    .game-info {
      float: right;
      display: inline-block;
      width: 47%;
      margin-left: 3%;
    }
  }
}
  .user-reviews {
    margin: 0 0 1rem;
  }
}
