.gamepage-contents {
  margin: 3rem auto 0;
  width: 90%;
.pic-and-info {
  h3 {
    text-align: center;
    font-size: 40px;
    margin: 0;
  }
  img {
    max-width: 100%;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    margin-left: 16%;
}
&::after{
  clear: both;
  content: '';
  display: block;
}
.game-info {

  &:after{
    clear: both;
    content: '';
    display: block;
  }
  h3 {
    text-align: center;
    width: 50%;
    font-size: 40px;
    margin: 0 auto;
    font-family: $subheader-font;
  }

  h6 {
    text-align: center;
    font-family: $subheader-font;

  }

}
}
.review-form {
  textarea {
    width: 100%;
    font-size: 17px;
    height: 7rem;
    font-family: $standard-font;
    border: 1px solid gray;
  }
  input {
      width: 20%;
      display: block;
      margin-bottom: 0.2rem;
      border: 1px solid $secondary-color;
      background: whitesmoke;

  }
}
.user-reviews {
  list-style: none;
  padding-left: 0;
  .review-items {
    border-top: 1px solid #D8D8D9;
    border-bottom: 1px solid #D8D8D9;
    h5 {
      font-size: 12px;
      margin: 0;
      display: inline-block;
      width: auto;
    }
    img {
      height: 50px;
      width: 50px;
      vertical-align: middle;
    }
    span {
      font-size: 8px;
      &:nth-of-type(1n+1){
          font-size: 12px;
      }
    }
    p {
      font-size: 12px;
    }
    .edit-delete {
      background: #F24C27;
      color: white;
      border: 1px solid black;
    }
    .like-dislike {
      button {
        border: 1px solid #037E8C;
        background: whitesmoke;
        color: #024959;
      }

    }
  }
  .edit-review{
    width: 100%;


  }
}
.avg-rating-container {
    .edit-review {
      textarea {
        width: 100%;
        font-size: 17px;
        height: 73px;
        font-family: $standard-font;
        border: 1px solid gray;
      }
      div {
        input {
          border: 1px solid #024959;
          background: whitesmoke;
        }
      }
}

}
}
@media (min-width: 500px) {
  .gamepage-contents {
  .pic-and-info{
    img {
      max-width: 100%;
      width: 47%;
      margin-right: 3%;
      height: 500px;
      margin-left: 0;
    }
    .game-info {
      float: right;
      display: inline-block;
      width: 47%;
      margin-left: 3%;
      p{
        height: 380px;
        overflow: scroll;
      }
    }
  }
}
  .user-reviews {
    margin: 0 0 1rem;
  }
}
