header{
  width: 100%;
  text-align: center;
  h1 {
    text-align: center;
    background-image: url('../../assets/images/header-background.jpg');
    background-size: cover;
  }
  nav {
    a {
      text-decoration: none;
      color: black;
      &:first-child{
        margin-right: 1rem;
      }
    }
  }
}
