.login-form {
  font-size: 12px;
  margin: 0 auto;
  width: 100%;
  margin-top: 3rem;
  background: $primary-color;
  padding: 1.5rem;
  input {
    height: 40px;
    display: block;
    text-align: center;
    margin: 0.5rem auto;
    width: 100%;
    &:nth-of-type(3){
      border: 1px solid $secondary-color;
      border-radius: 0;
      margin-bottom: 5rem;
      background: $third-color;
      height: 40px;
    }
  }
  a {
    color: white;
  }
}
.register-form {
  font-size: 12px;
  margin: 0 auto;
  width: 100%;
  margin-top: 3rem;
  background: $primary-color;
  padding: 1.5rem;
  input {
    height: 40px;
    display: block;
    text-align: center;
    margin: 0.5rem auto;
    width: 100%;
    // background: transparent;
    &:nth-of-type(5){
      border: 1px solid $secondary-color;
      border-radius: 0;
      margin-bottom: 2rem;
      background: $third-color;
      height: 40px;
    }
  }
  a {
    color: white;
  }
}
@media (min-width: 500px) {
  .login-form {
    width: 40%;
  }
  .register-form {
    width: 40%;
  }
}
