.searchbar-container {
  span {
    color: white;
  }
}
.review-items{
  img {
    height: 150px;
    width: 150px;
  }
}
.search-form {
  top: 11rem;
  width: 95%;
  margin: 0 3%;
  input {
    width: 90%;
    height: 1.7rem;
    font-size: 17px;
    border: none;
  }
  .fa {
    height: 1.6rem;
    font-size: 22px;
    background: $primary-color;
    width: 8%;
  }
}
.search-tabs {
  text-align: center;
  border-bottom: 1px solid #F2F2F2;
  .active-results {
    font-size: 20px;
    background: red;
    border-radius: 100%;
    padding: 0 5px;
  }
  .active-tab {
    width: 35%;
    font-size: 20px;
    border: 1px solid #F2F2F2;
    background: $primary-color;
    font-family: $standard-font;
  }
  .tab {
    width: 35%;
    font-size: 20px;
    border: 1px solid #F2F2F2;
    border-bottom: 2px solid white;
    background: white;
    font-family: $standard-font;
  }
}
.user-list {
  list-style: none;
  padding-left: 0;
  li {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 1rem 0 0.5rem;
    font-size: 20px;
    a {
      text-decoration: none;
    }
    img {
      height: 200px;
      width: 200px;
    }
    h5{
      color: $secondary-color;
      margin: 0;
    }
  }
}

main {
  h3{
    color: $secondary-color;
    font-family: $subheader-font;
  &:nth-of-type(1){
      font-size: 20px;
      border-top: 1px solid #D8D8D9;
      padding: 5px;
      margin-bottom: 0
  }
}
.recent-reviews {
  border-top: 1px solid #D8D8D9;
  border-bottom: 1px solid #D8D8D9;
  padding: 5px;
  h4 {
    font-family: $subheader-font;
    a {
      color: #037E8C;
    }
  }
  h5 {
    font-family: $subheader-font;
    margin: 1rem 0 3px;
    font-size: 20px;
  }
  li {
    color: #404040;
  }
  .like-dislike {
    button {
      border: 1px solid #037E8C;
      background: whitesmoke;
      color: #024959;
      border-radius: 10px;

    }
  }
  .edit-delete {
    background: #F24C27;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
  }
}
.edit-review {
  display: block;
  width: 100%;
  border: 1px solid #F2F2F2;
  span {
    display: block;
  }
  textarea {
    display: block;
    height: 73px;
    font-size: 17px;
    font-family: $standard-font;
    width: 100%;
    border: 1px solid gray;
  }
  div {
    input {
      display: inline-block;
      border: 1px solid $secondary-color;
      background: whitesmoke;
    }
  }
}
.game-list{
  list-style: none;
  // @include outer-container();
  margin: 1rem auto;
  padding: 0;
  &::after{
    content: '';
    display: block;
    clear: both;
  }
  .games {
    margin-left: 2%;
    margin-bottom: 3rem;
    height: 200px;
    width: 80%;
  // @include span-columns(10 of 12);
  &::after{
    content: '';
    display: block;
    clear: both;
  }
  .game-details {
    background: white;
    float: right;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100px;
    padding: 10px;
    h6 {
      margin: 0 0 0.5rem;
      font-size: 20px;
      text-decoration: underline;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #037E8C;
      font-family: $subheader-font;
    }
    span {
      font-size: 12px;
      color: #024959;
    }
  }
  img {
    height: 200px;
    max-width: 100%;
    width: 50%;
    padding-right: 2%;
  }
  }
}
}
@media (min-width: 450px) {
  main {
    .game-list {
  .games{
    width: 45%;
    display: inline-block;
  }
}
}
}
