.user-page {
  h3 {
    height: 2rem;
    width: 25%;
  }
  img {
    max-width: 25%;
    width: 300px;
    height: 175px;
  }
  p {
    input {

    }
  }
  .user-info {
    input {
      &:nth-of-type(1){
        display: block;
      }
    }
  }
  .profile-review-list {
    list-style: none;
    h4 {
      font-family: $subheader-font;
      a {
        color: #037E8C;
      }
    }
    .edit-review {
      textarea {
        width: 100%;
      }
    }
    .review-items {
      h5 {
        display: none;
      }
      img {
        display: none;
      }
      button {
        font-size: 15px;
        font-family: $standard-font;
        border: 1px solid black;
        border-radius: 10px;
      }
    }
  }
}
.image-upload-container {
  div {
    margin: 0 auto;
    text-align: center;
  }
  input {
      margin: 0 auto;
      text-align: center;
      display: block;
  }

}
@media(min-width: 450px) {
  .user-page {
    &::after {
      display: block;
      content: '';
      clear: both;
    }
    .user-info {
      display: inline-block;
      width: 40%;
      img {
        width: 60%;
      }
    }

    .profile-review-list {
      display: inline-block;
      width: 40%;
      float: right;
      margin-right: 5%;
    }
  }
}
