.user-page {
  width: 90%;
  margin: 0 auto;
  h3 {
    height: 2rem;
    width: 25%;
  }
  img {
    width: 175px;
    height: 175px;
  }

  .user-info {
    border: 1px solid $standard-border;
    margin-top: 2rem;
    &::after {
      clear: both;
      content: '';
      display: block;
    }
    input {
      &:nth-of-type(1){
        border: 1px solid #024959;
        background: whitesmoke;
      }
    }
    .bio {
      text-align: left;
      width: 100%;
      span {
        text-decoration: underline;
      }
      p {
        margin-bottom: 0;
      }
      button {
        background: #F24C27;
        color: white;
        border: 1px solid black;
        display: block;
      }
    }
    .edit-bio{
      span {
        text-decoration: underline;
      }
    .bio-edit-form{

      textarea {
        width: 100%;
        border: 1px solid gray;
        font-size: 17px;
        font-family: $standard-font;
      }
      input {
        display: inline-block;
        border: 1px solid $secondary-color;
        background: whitesmoke;
      }
    }
  }
  }
  .profile-review-list {
    list-style: none;
    padding-left: 0;
    div {
      padding: 0;
    }
    .profile-review-title {
      padding-left: 0;
    }
    h4 {
      font-family: $subheader-font;
      font-size: 25px;
      a {
        color: #037E8C;
      }
    }
    .edit-review {
      textarea {
        border: 1px solid gray;
        width: 100%;
        font-size: 17px;
        font-family: $standard-font;
        height: 73px;
      }
      input {
        border: 1px solid $secondary-color;
        background: whitesmoke;
      }
    }
    .review-items {
      h5 {
        display: none;
      }
      img {
        display: none;
      }
      .like-dislike {
        button {
        border: 1px solid $secondary-color;
        background: whitesmoke;
        font-family: $standard-font;
        }
      }
    }
  }
  .profile-review-list > *{
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 20px;
  }
  .review-items >*{
    font-size: 12px;
  }
  .review-items{
    .edit-delete {
      background: #F24C27;
      color: white;
      border: 1px solid black;
    }
  }
}
.image-upload-container {
  div {
    margin: 0 auto;
    text-align: center;
  }
  div:nth-of-type(2) {
    img {
      height: 200px;
      width: 200px;
    }
  }

  input {
      margin: 0 auto;
      text-align: center;
      display: block;
      background: $third-color;
      border: 1px solid $secondary-color;
  }

}
@media(min-width: 450px) {
  .user-page {
    img {
      max-width: 100%;
      // width: 70%;
    }
    &::after {
      display: block;
      content: '';
      clear: both;
    }
    .user-info {
      .name-pic {
        width: 50%;
        display: inline-block;
      }
      .bio {
        margin-top: 65px;
        float: right;
        width: 50%;
        p {
          display: inline-block;
        }
        span {
          display: block;
          text-align: left;
          text-decoration: underline;
        }
      }
      .edit-bio {
        margin-top: 65px;
        float: right;
        width: 50%;
        text-align: center;
        .bio-edit-form{
          display: inline-block;
          width: 100%;
          margin-right: 10%;
          textarea {
            width: 100%;
          }
          input {
            display: inline-block;
          }
        }

      }
    }

    .profile-review-list {
      padding-left: 0;
      .profile-review-title {
        border-bottom: 1px solid #F2F2F2;
        padding-bottom: 1rem;
      }
    }



  }
}
